@media (max-width:285px) {
    .show-285 {
        display:none!important
    }
}
@media (max-width:350px) {
    .show-350 {
        display:none!important
    }
}
@media (max-width:440px) {
    .show-440 {
        display:none!important
    }
}
@media (max-width:555px) {
    .show-555 {
        display:none!important
    }
}