@use 'colours' as *;

@mixin blue-gradient {
    background: linear-gradient(to right, rgba($w3-blue, 0.95), rgba($bs-primary, 0.95));
}

@mixin grey-gradient {
    background: linear-gradient(to right, rgba($bs-light, 0.95), rgba($w3-light-grey, 0.95));
}

@mixin light-blue-gradient {
    background: linear-gradient(to right, rgba($w3-light-blue, 0.95), rgba($bs-info, 0.95));
}

@mixin amber-gradient {
    background: linear-gradient(to right, rgba($bs-warning, 0.95), rgba($w3-amber, 0.95));
}

// absolute center 
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Transition Property
@mixin transitionProperty {
    transition-duration: 1000ms;
    transition-property: all;
}